.card-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;


}

.header{
    display: flex;
    justify-content: space-between;
    background-color:blanchedalmond;
    padding: 2vw 2vw 1vw 2vw;
}
.score {
    display: flex;
    flex-direction: column;
    margin-right: 10vw;
}

.card {
    width: min(30vw, 100px);
    height: min(30vw, 100px);
    border: 1px solid lightblue;
}
.footer{
    margin-top: 70px;
}
.excuses{
    font-size: 14px;
    color: gray;
}

img {
    width: min(29vw, 95px);
    
}
